{% extends 'basePanel.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>¡Bienvenido {{ apellido }}, {{ nombre }}!</h1>
        <div class="dropdown-divider"></div>
{#        <div class="container">#}
{#            <div class="row row-cols-lg-2 row-cols-md-2 p-3">#}
{#                <div class="col border">#}
{#                    <a class="nav-link" href="/panel/admin/vehiculo">Vehículos</a>#}
{#                </div>#}
{#                <div class="col border">#}
{#                    <a class="nav-link" href="/panel/admin/empresa">Empresas</a>#}
{#                </div>#}
{#                <div class="col border">#}
{#                    <a class="nav-link" href="/panel/admin/vendedores">Vendedores</a>#}
{#                </div>#}
{#                <div class="col border">#}
{#                    <a class="nav-link" href="/panel/admin/registrar">Registrar</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}