{% extends 'basePanel.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>Crear anuncio</h1>
        <div class="dropdown-divider"></div>
        <div class="form-group row">
            <label for="vehiculo" class="col-sm-1 col-form-label">Vehículo:</label>
            <div class="col-sm-11">
                <select name="vehiculo" class="form-control selectpicker" title="Ninguno" id="vehiculo"
                        data-live-search="true">
                    {% for vehiculo in vehiculos %}
                        <option value="{{ vehiculo.0 }}">[{{ vehiculo.0 }}] {{ vehiculo.2 }} {{ vehiculo.4 }}
                            ({{ vehiculo.5 }})
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="dia" class="col-sm-1 col-form-label">Días:</label>
            <div class="col-sm-11">
                <input min="0" type="number" id="dia" step="1" class="form-control" value="5">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <button type="button" class="form-control btn-primary" onclick="anunciar();">Anunciar</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function anunciar() {
        if($('#vehiculo').val().length == 0) {
            alert("Elija el vehículo.");
            return;
        }
        $.ajax({
                type: "POST",
                url: "/panel/admin/vehiculo/anunciorequest",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",   // < here
                    state: "inactive",
                    idVehiculo: $('#vehiculo').val(),
                    dia: $('#dia').val()
                },
                success: function (result) {
                    if(result['success'])
                        location.reload();
                },
                error: function () {
                }
            })
    }
    </script>
{% endblock %}