{% extends 'basePanel.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>Usuarios por aprobar</h1>
        <div class="dropdown-divider"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Usuario</th>
                <th scope="col">-</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.0 }}</td>
                    <td>{{ cliente.1 }}</td>
                    <td>{{ cliente.2 }}</td>
                    <td>{{ cliente.3 }}</td>
                    <td>{{ cliente.4 }}</td>
                    <td><button onclick="update('{{ cliente.4 }}',1);">Aceptar</button><button onclick="update('{{ cliente.4 }}',0);">Rechazar</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
    function update(username, value) {
        $.ajax({
                type: "POST",
                url: "/api/Usuario/update",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",   // < here
                    state: "inactive",
                    username: username,
                    aproved: value
                },
                success: function (result) {
                    location.reload();
                },
                error: function () {
                    alert("Error.")
                }
            })
    }
    </script>
{% endblock %}