{% extends 'base.html' %}
{% block extrahead %}
    {% load static %}
    <script src="{% static "/js/searchCondition.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container mt-lg-5 mt-md-3">
        <div class="row">
            <form action="/catalog" method="get" class="col-lg-8 p-3 border">
                <h3>Buscar vehículo</h3>
                <div class="dropdown-divider"></div>
                <div class="form-group row">
                    <label for="estado" class="col-sm-2 col-form-label">Estado:</label>
                    <div class="col-sm-10">
                        <select name="estado" class="form-control selectpicker" id="estado">
                            <option value="all">Nuevo/Usado</option>
                            <option>Nuevo</option>
                            <option>Usado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="marca" class="col-sm-2 col-form-label">Marca:</label>
                    <div class="col-sm-10">
                        <select name="marca" class="form-control selectpicker" title="Todos" multiple id="marca" data-live-search="true">
                            {% for marca in marcas %}
                                <option>{{ marca }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="modelo" class="col-sm-2 col-form-label">Modelo:</label>
                    <div class="col-sm-10">
                        <select name="modelo" class="form-control selectpicker" title="Todos" multiple id="modelo" data-live-search="true">
                            <option value="all">Todos</option>
                            <option th:each="modelo : ${modelos}" th:text="${modelo}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="yearA" class="col-sm-2 col-form-label">Año:</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-5">
                                <select name="year" class="form-control selectpicker" id="yearA">
                                    {% for year in years %}
                                        <option>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="yearB" class="col-sm-2 col-form-label">hasta</label>
                            <div class="col-sm-5">
                                <select name="year" class="form-control selectpicker" id="yearB">
                                    {% for year in years %}
                                        {% if forloop.last %}
                                            <option selected="selected">{{ year }}</option>
                                        {% else %}
                                            <option>{{ year }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="priceA" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-5">
                                <input name="price" min="0" value="0" class="form-control selectpicker" id="priceA"
                                       type="number">
                            </div>
                            <label for="priceB" class="col-sm-2 col-form-label">hasta</label>
                            <div class="col-sm-5">
                                <input name="price" min="0" value="0" class="form-control selectpicker" id="priceB"
                                       type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lugar" class="col-sm-2 col-form-label">Lugar:</label>
                    <div class="col-sm-10">
                        <select name="lugar" class="form-control selectpicker" multiple id="lugar" title="Todas las provincias" data-live-search="true">
{#                            <option value="all">Todas las Provincias</option>#}
                            {% for provincia in provincias %}
                                <option>{{ provincia }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Buscar</button>
            </form>
            <div class="col-lg-4 p-3 border">
                <h3>Tipos</h3>
                <div class="dropdown-divider"></div>
                <div class="container-fluid">
                    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1">
                        {% for tipo in tipos %}
                            <a class="col" href="/catalog?tipo={{tipo}}">{{tipo}}</a>
                        {% endfor %}
                    </div>
                <div class="row justify-content-center">
                    <a href="/catalog">Ver todos</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container border mt-md-3 mt-lg-3 mb-md-3 mb-lg-3">
        <h2>Anuncios recientes</h2>
        <div class="dropdown-divider"></div>
    </div>
{% endblock %}