{% extends 'base.html' %}
{% block content %}
    <div class="container mt-lg-5 border">
        <h1>Anuncios</h1>
        <div class="dropdown-divider"></div>
        <p>
            Tenemos planes para anunciar en esta página web la venta de los vehículos de tu empresa o personal, los precios individual:</p>
        <ul>
            <li>1 semana: 500 pesos por vehículo.</li>
            <li>1 mes: 1,200 pesos por vehículo.</li>
            <li>1 año: 10,000 pesos por vehículo.</li>
        </ul>
        <p>Para poner su anuncio o más información contactarse con el email: anuncios@example.com<br>Si estas interesados para planes empresariales, contactarse con: relaciones@example.com</p>
    </div>
{% endblock %}