{% extends 'base.html' %}
{% block content %}
    <div class="container mt-lg-5 border">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>{{ carro.marca }} {{ carro.modelo }} {{ carro.year }}</h1>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="text-lg-right">US${{ carro.precio }}</h2>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div id="fotos" class="carousel slide col-12" style="height: 400px; overflow: hidden"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block h-100"
                                     src="https://lh3.googleusercontent.com/proxy/-KIjuId4Ie1rqnAhnxIJ2j9OfRyLF_R8Wxg8RjKeNCxOgy0pZhdOhkVmOLHDwGkslMqzfqT6a6zCcEk0qcQpuOOfm9JFcyi8RN3jZrj-K2jIFJNUlzYF1m7HIiQE9-QKehjTn1WfS2rR-2788rxEn3EMl_XDEQuFct5zyZ9K3LnY">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block h-100"
                                     src="https://lh3.googleusercontent.com/proxy/-KIjuId4Ie1rqnAhnxIJ2j9OfRyLF_R8Wxg8RjKeNCxOgy0pZhdOhkVmOLHDwGkslMqzfqT6a6zCcEk0qcQpuOOfm9JFcyi8RN3jZrj-K2jIFJNUlzYF1m7HIiQE9-QKehjTn1WfS2rR-2788rxEn3EMl_XDEQuFct5zyZ9K3LnY">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block h-100"
                                     src="https://lh3.googleusercontent.com/proxy/-KIjuId4Ie1rqnAhnxIJ2j9OfRyLF_R8Wxg8RjKeNCxOgy0pZhdOhkVmOLHDwGkslMqzfqT6a6zCcEk0qcQpuOOfm9JFcyi8RN3jZrj-K2jIFJNUlzYF1m7HIiQE9-QKehjTn1WfS2rR-2788rxEn3EMl_XDEQuFct5zyZ9K3LnY">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#fotos" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#fotos" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="p-1">
                    <h3 class="col">Datos Generales</h3>
                    <p>
                        <b>Marca:</b> {{ carro.marca }}<br><b>Tipo:</b> {{ tipo }}<br><b>Modelo:</b> {{ carro.modelo }}<br><b>Año:</b> {{ carro.year }}<br><b>Precio:</b>
                        US${{ carro.precio }}</p>
                    <p><b>Descripción:</b><br>{{ carro.descripcion }}</p>
                </div>
            </div>
            <div class="col-lg-4 bg-secondary text-light">
                <h1>{{ empre.nombre }}</h1>
                <div class="dropdown-divider"></div>
                <div>
                    {% if not individual %}
                        <p><b>Dirección:</b><br>{{ empre.direccion }}</p>
                        <p><b>Descripción:</b><br>{{ empre.descripcion }}</p>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <p><b>Vendedor:</b> {{ persona.apellido }}, {{ persona.nombre }}</p>
                    <p><b>Email:</b><br>{{ persona.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}